## Built in sequence function

In [1]:
# numerate = Return sequence of (index, value) tuple

In [2]:
seq = list(range(0,40,4))
seq

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36]

In [3]:
for index, value in enumerate(seq):
    print(f"index = {index}, value = {value}")

index = 0, value = 0
index = 1, value = 4
index = 2, value = 8
index = 3, value = 12
index = 4, value = 16
index = 5, value = 20
index = 6, value = 24
index = 7, value = 28
index = 8, value = 32
index = 9, value = 36

In [4]:
# sorted - return new sorted list
sorted('string')

['g', 'i', 'n', 'r', 's', 't']

In [5]:
# zip - pair the element as new tuple

seq1 = ["foo", ' bar', 'buzz']
seq2 = [1,2,3]
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 1), (' bar', 2), ('buzz', 3)]

In [6]:
seq3 = ["false", "true"]

list(zip(seq1,seq2,seq3))

[('foo', 1, 'false'), (' bar', 2, 'true')]

In [7]:
for index, (a,b) in enumerate(zip(seq1, seq2)):
    print(f"index {index}: value is {a} and {b}")

index 0: value is foo and 1
index 1: value is  bar and 2
index 2: value is buzz and 3

In [8]:
# reversed 

list(reversed(range(0,10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## List, Set and Dictionary comprehension

In [9]:
# syntax [expr for value in collection if condition]

[x*2 for x in range(0,100) if x%5==0]

[0,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 110,
 120,
 130,
 140,
 150,
 160,
 170,
 180,
 190]

In [10]:
strings = ["a", "as", "bat", "car", "dove", "python"]

[value.upper() for value in strings if len(value) >2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [12]:
# dictionary comprehension - syntax
# {key-expr: value-expr for key value in collection if condition}

{key:value^2 for key, value in enumerate(range(2,11)) if key%2==0 }

{0: 0, 2: 6, 4: 4, 6: 10, 8: 8}

In [13]:
{key:value for key, value in enumerate(strings)}

{0: 'a', 1: 'as', 2: 'bat', 3: 'car', 4: 'dove', 5: 'python'}

In [14]:
# set comprehension - syntax
#{ expr for value in collection if condition}

unique_length = {len(value) for value in strings }
unique_length

{1, 2, 3, 4, 6}

In [15]:
# other way 

set(map(len, strings))

{1, 2, 3, 4, 6}

In [16]:
# Nested list comprehensions
# Q - chek name which has more than 2 'a'

all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

[x for value in all_data for x in value if x.count('a')>=2]

['Maria', 'Natalia']

## Functions

In [17]:
def my_function(a,b):
    return a + b
my_function(3,4)

7

In [18]:
# positional and Keyword arguments; Key word should be places after positional argument
def my_function(a,b=3):
    return a + b
my_function(4)

7

In [19]:
# Namespace, scope and local function

def func():
    aa = []
    for x in range(5):
        aa.append(x)
    return aa
func()

[0, 1, 2, 3, 4]

In [20]:
aa # local

NameError: name 'aa' is not defined

In [21]:
a = []
def func():
    for x in range(5):
        a.append(x)
    return a
func()

[0, 1, 2, 3, 4]

In [22]:
a

[0, 1, 2, 3, 4]

In [23]:
# return multiple values 
def f():
    a,b,c =1,2,3
    return a,b,c
f()

(1, 2, 3)

In [24]:
# functions are objects 

states = [" Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south carolina##", "West virginia?"]

import re
def clean_string(strings):
    result = []
    for value in strings:
        #print(value)
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
        #print(result)
        
    return result
clean_string(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [25]:
# Lambda functions
list1 = list(range(5))
def func1 (list1, f):
    return [f(x) for x in list1]
    
func1(list1,lambda x:x*2)

[0, 2, 4, 6, 8]

In [26]:
## generators 

# iteration happens due to iteration protocol

some_dict = {'a':123, 'b':3,"c":2}
some_dict

{'a': 123, 'b': 3, 'c': 2}

In [27]:
for key in some_dict.keys():
    print(key)

a
b
c

In [28]:
list(iter(some_dict))

['a', 'b', 'c']

In [29]:
# generator - to construct the new iterable object

def square(n =10):
    print(f"generating the squares from 1 to {n**2}")
    for value in range(1, n+1):
        yield value**2

In [30]:
gen = square()
gen

In [31]:
for value in gen:
    print(value, end=" ")

generating the squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [32]:
gen1 = (x**2 for x in range(11))
gen1

In [33]:
dict((i, i**2) for i in range(10))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [35]:
# Itertool module

# group by take any sequence and function and return result value of function
import itertools

def first_letter(x):
    return x[0]
names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

for letter, name in itertools.groupby(names, first_letter):
    print(letter, list(name)) # names is generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

## Error and Exceptional handling

In [36]:
float(1)

1.0

In [37]:
float('football')

ValueError: could not convert string to float: 'football'

In [38]:
def float_converter(x):
    try:
        return float(x)
    except:
        return x

In [39]:
float_converter(2)

2.0

In [40]:
float_converter('football')

'football'

In [41]:
def float_converter(x):
    try:
        return float(x)
    except ValueError:
        return x

In [42]:
float_converter((1,2))

TypeError: float() argument must be a string or a real number, not 'tuple'

f = open(path, mode='w')

try:
    write_to_file(f)
except:
    print("failed")
else:
    print("Succeed") # This execute only if try get executed. 
finally:
    f.close()

## Files and the Operating System

In [43]:
path = "text.txt"
f = open(path, encoding="utf-8")

In [44]:
for line in f:
    print(line)

Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

t was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

In [45]:
lines = [value.rstrip() for value in open(path, encoding="utf-8")]
lines

["Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.",
 'It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.',
 't was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.']

In [46]:
f.close()

In [47]:
with open(path, encoding="utf-8") as f:
    lines = [x.rstrip() for x in f]

In [48]:
lines

["Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.",
 'It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.',
 't was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.']

In [49]:
# write 

with open('temp.txt', mode='w') as f:
    f.writelines("text fom the jupyter notebook - test")

In [50]:
with open('temp.txt', mode='r') as f:
    print(f.readlines())

['text fom the jupyter notebook - test']