# Data Structure and sequence

## Tuple - Immutable fixed length object

In [1]:
tup = (3,54,3)
tup

(3, 54, 3)

In [2]:
a = 3,45,5
a

(3, 45, 5)

In [3]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [4]:
# tuple is iterable 
tup[3]

'i'

In [5]:
for value in tup:
    print(value)

s
t
r
i
n
g

In [6]:
# concatination
tup + (3,56,61)

('s', 't', 'r', 'i', 'n', 'g', 3, 56, 61)

In [7]:
# unpacking tuple 
tup = (2,4,5)
a,b,c = tup
a

2

In [8]:
# swapping in python
print(a);print(b)
a, b = b,a 
print(a);print(b)

2
4
4
2

In [9]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

for a,b,c in seq:
    print(f"a={a}, b={b}, c={c}")

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [10]:
tup = (2,4,5,21,1,1)
a, b, *_ = tup
_

[5, 21, 1, 1]

In [11]:
tup.count(1)

2

In [12]:
tup.index(5)

2

## list - Mutable with []

In [13]:
alist = [1,4,5, None]
alist

[1, 4, 5, None]

In [14]:
tup= ('string')
list(tup)

['s', 't', 'r', 'i', 'n', 'g']

In [15]:
# adding and removing element 
# adding - append, insert
# removing - pop and remove method
alist.append(0)
alist

[1, 4, 5, None, 0]

In [16]:
alist.insert(2,10)
alist

[1, 4, 10, 5, None, 0]

In [17]:
alist.pop(0)
alist

[4, 10, 5, None, 0]

In [18]:
alist.remove(5)
alist

[4, 10, None, 0]

In [19]:
alist

[4, 10, None, 0]

In [20]:
# check if element is present in the list
0 in alist

True

In [21]:
100 in alist

False

In [22]:
100 not in alist

True

In [23]:
# concatination in list 
alist + [4,2,5,(4,5)]

[4, 10, None, 0, 4, 2, 5, (4, 5)]

In [24]:
alist.extend([3,4,34])
alist
# extend is more preferable because + can be more expensive operation

[4, 10, None, 0, 3, 4, 34]

In [25]:
alist.remove(None)
alist

[4, 10, 0, 3, 4, 34]

In [26]:
# sorting
alist.sort()
alist

[0, 3, 4, 4, 10, 34]

In [27]:
# slicing
alist[2:5]
# number of element is stop - start #3 element as per this example

[4, 4, 10]

## Dictionary - mutable with {}

In [28]:
emptydict  = {}

In [29]:
d1 = {'a': [2,44,3], 'b': (3,4)}
d1

{'a': [2, 44, 3], 'b': (3, 4)}

In [30]:
# insering in dictionary
d1[3] = 'string'
d1

{'a': [2, 44, 3], 'b': (3, 4), 3: 'string'}

In [31]:
# check if value is avaiable in dictionary 
3 in d1

True

In [32]:
4 in d1

False

In [33]:
d1['c'] = (3,4,2)
d1

{'a': [2, 44, 3], 'b': (3, 4), 3: 'string', 'c': (3, 4, 2)}

In [34]:
d1['dummy_value'] = 'value x'
d1

{'a': [2, 44, 3],
 'b': (3, 4),
 3: 'string',
 'c': (3, 4, 2),
 'dummy_value': 'value x'}

In [35]:
# deleting values from the dictionary

del d1[3]
d1

{'a': [2, 44, 3], 'b': (3, 4), 'c': (3, 4, 2), 'dummy_value': 'value x'}

In [36]:
#pop
d1.pop('dummy_value')
d1

{'a': [2, 44, 3], 'b': (3, 4), 'c': (3, 4, 2)}

In [37]:
d1.keys() # To view keys

dict_keys(['a', 'b', 'c'])

In [38]:
d1.values() # To view values

dict_values([[2, 44, 3], (3, 4), (3, 4, 2)])

In [39]:
d1.items() # to view key - value tuple

dict_items([('a', [2, 44, 3]), ('b', (3, 4)), ('c', (3, 4, 2))])

In [40]:
# update dictionary 
d1.update({'d':[3,5,2,1], 'e':'Name'})
d1

{'a': [2, 44, 3], 'b': (3, 4), 'c': (3, 4, 2), 'd': [3, 5, 2, 1], 'e': 'Name'}

In [41]:
# creating dictonary with sequence 
tuples = zip(range(4), reversed(range(4)))
tuples

In [42]:
dict(tuples)

{0: 3, 1: 2, 2: 1, 3: 0}

In [43]:
# create a word dictionary 
words = ['apple', 'bag', 'cat', 'atom', 'car', 'soccer', 'sky', 'orange']
word_dic = {}

for word in words:
    letter = word[0]
    if letter not in word_dic:
        word_dic.update({letter:[word]})
    else:
        word_dic[letter].append(word)


word_dic

{'a': ['apple', 'atom'],
 'b': ['bag'],
 'c': ['cat', 'car'],
 's': ['soccer', 'sky'],
 'o': ['orange']}

In [44]:
# create a word dictionary 
words = ['apple', 'bag', 'cat', 'atom', 'car', 'soccer', 'sky', 'orange', 'python']
word_dic = {}

for word in words:
    letter = word[0]
    word_dic.setdefault(letter, []).append(word)

word_dic

{'a': ['apple', 'atom'],
 'b': ['bag'],
 'c': ['cat', 'car'],
 's': ['soccer', 'sky'],
 'o': ['orange'],
 'p': ['python']}

In [45]:
# create a word dictionary 
from collections import defaultdict
words = ['apple', 'bag', 'cat', 'atom', 'car', 'soccer', 'sky', 'orange', 'python']
word_dic = defaultdict(list)

for word in words:
    word_dic[word[0]].append(word)

word_dic

defaultdict(list,
            {'a': ['apple', 'atom'],
             'b': ['bag'],
             'c': ['cat', 'car'],
             's': ['soccer', 'sky'],
             'o': ['orange'],
             'p': ['python']})

In [46]:
# Keys in dictionary need to be immutabale  means hashability

hash("string")

7450289479939015425

In [47]:
hash((1,3,(3,3)))

-4853818414746707237

In [48]:
hash([1,34,2])

TypeError: unhashable type: 'list'

## Set  - Set in unorder collection of unique element

In [49]:
set([2,3,2,1,1,1,1])

{1, 2, 3}

In [50]:
{1,2,3,2,3,4,3,2,2}

{1, 2, 3, 4}

In [51]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}

In [52]:
a.union(b) # unique values from both set

{1, 2, 3, 4, 5, 6, 7, 8}

In [53]:
a.intersection(b) # common

{3, 4, 5}

In [54]:
a.difference(b) # difference

{1, 2}

In [55]:
a.issubset(b)

False

In [56]:
c = {1,2}

In [57]:
c.issubset(a)

True