## Built in sequence function

In [6]:
# numerate = Return sequence of (index, value) tuple

In [7]:
seq = list(range(0,40,4))
seq

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36]

In [8]:
for index, value in enumerate(seq):
    print(f"index = {index}, value = {value}")

index = 0, value = 0
index = 1, value = 4
index = 2, value = 8
index = 3, value = 12
index = 4, value = 16
index = 5, value = 20
index = 6, value = 24
index = 7, value = 28
index = 8, value = 32
index = 9, value = 36

In [1]:
# sorted - return new sorted list
sorted('string')

['g', 'i', 'n', 'r', 's', 't']

In [7]:
# zip - pair the element as new tuple

seq1 = ["foo", ' bar', 'buzz']
seq2 = [1,2,3]
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 1), (' bar', 2), ('buzz', 3)]

In [8]:
seq3 = ["false", "true"]

list(zip(seq1,seq2,seq3))

[('foo', 1, 'false'), (' bar', 2, 'true')]

In [15]:
for index, (a,b) in enumerate(zip(seq1, seq2)):
    print(f"index {index}: value is {a} and {b}")

index 0: value is foo and 1
index 1: value is  bar and 2
index 2: value is buzz and 3

In [17]:
# reversed 

list(reversed(range(0,10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## List, Set and Dictionary comprehension

In [18]:
# syntax [expr for value in collection if condition]

[x*2 for x in range(0,100) if x%5==0]

[0,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 110,
 120,
 130,
 140,
 150,
 160,
 170,
 180,
 190]

In [19]:
strings = ["a", "as", "bat", "car", "dove", "python"]

[value.upper() for value in strings if len(value) >2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [24]:
# dictionary comprehension - syntax
# {key-expr: value-expr for key value in collection if condition}

{key:value*2 for key, value in enumerate(range(2,11)) if key%2==0 }

{0: 4, 2: 8, 4: 12, 6: 16, 8: 20}

In [33]:
{key:value for key, value in enumerate(strings)}

{0: 'a', 1: 'as', 2: 'bat', 3: 'car', 4: 'dove', 5: 'python'}

In [27]:
# set comprehension - syntax
#{ expr for value in collection if condition}

unique_length = {len(value) for value in strings }
unique_length

{1, 2, 3, 4, 6}

In [32]:
# other way 

set(map(len, strings))

{1, 2, 3, 4, 6}

In [35]:
# Nested list comprehensions
# Q - chek name which has more than 2 'a'

all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

[x for value in all_data for x in value if x.count('a')>=2]

['Maria', 'Natalia']

## Functions

In [37]:
def my_function(a,b):
    return a + b
my_function(3,4)

7

In [40]:
# positional and Keyword arguments; Key word should be places after positional argument
def my_function(a,b=3):
    return a + b
my_function(4)

7

In [50]:
# Namespace, scope and local function

def func():
    aa = []
    for x in range(5):
        aa.append(x)
    return aa
func()

[0, 1, 2, 3, 4]

In [51]:
aa # local

NameError: name 'aa' is not defined

In [52]:
aa = []
def func():
    for x in range(5):
        aa.append(x)
    return aa
func()

[0, 1, 2, 3, 4]

In [53]:
aa

[0, 1, 2, 3, 4]

In [55]:
# return multiple values 
def f():
    a,b,c =1,2,3
    return a,b,c
f()

(1, 2, 3)

In [68]:
# functions are objects 

states = [" Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south carolina##", "West virginia?"]

import re
def clean_string(strings):
    result = []
    for value in strings:
        #print(value)
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
        #print(result)
        
    return result
clean_string(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [74]:
# Lambda functions
list1 = list(range(5))
def func1 (list1, f):
    return [f(x) for x in list1]
    
func1(list1,lambda x:x*2)

[0, 2, 4, 6, 8]

In [ ]:
## generators