In [3]:
#pip install pandas

In [4]:
# Importing Libraries 

import numpy as np
import pandas as pd

In [11]:
obj = pd.Series([4,5,-5,2])
obj

0    4
1    5
2   -5
3    2
dtype: int64

In [12]:
# index 
obj.index

RangeIndex(start=0, stop=4, step=1)

In [13]:
obj.array

<PandasArray>
[4, 5, -5, 2]
Length: 4, dtype: int64

In [14]:
# creating user based index
obj2 = pd.Series([4,5,-5,2], index = ['a','b','c','d'])
obj2

a    4
b    5
c   -5
d    2
dtype: int64

In [15]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [16]:
obj2["a"]

4

In [18]:
obj2['d'] = 6
obj2

a    4
b    5
c   -5
d    6
dtype: int64

In [19]:
obj2[['b','c']]

b    5
c   -5
dtype: int64

In [20]:
obj2>0

a     True
b     True
c    False
d     True
dtype: bool

In [21]:
obj2*2

a     8
b    10
c   -10
d    12
dtype: int64

In [22]:
np.exp(obj2)

a     54.598150
b    148.413159
c      0.006738
d    403.428793
dtype: float64

In [23]:
"b" in obj2

True

In [24]:
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}
sdata

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [25]:
# making series from dictionary
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [26]:
# converting series to dictionary
obj3.to_dict()

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [27]:
states = ["California", "Ohio", "Oregon", "Texas"]
states

['California', 'Ohio', 'Oregon', 'Texas']

In [28]:
obj4 = pd.Series(sdata, states) # data and Index
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [29]:
# checking null and nas

pd.isna(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [30]:
obj.isna()

0    False
1    False
2    False
3    False
dtype: bool

In [32]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [33]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [34]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [35]:
obj4.name = 'population'

In [ ]:
obj4.index.namee = 'state'