# Python Basic

In [17]:
# To install the jupyter notebook use below command 
# conda install jupyter

In [18]:
#Python is an interpreter language.

In [19]:
print("Hello World! - This is python basic")

Hello World! - This is python basic

In [20]:
a = 5 
a

5

In [24]:
#pip install numpy # Command to install numpy package

In [26]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)]
data

[-0.8245778578843584,
 -0.3278258271731491,
 -0.4194446160087973,
 1.1275540559495443,
 -0.2458392996049733,
 0.6426605684859141,
 -1.4142467134803822]

In [28]:
# Running Jupyter notebook
# Tab completion
# Introspection

In [33]:
# Introspection
# ?data
# ?a

def add_number(a,b):
    """
    Add two number together
    
    Returns
    ------
    the_sum:type of arguments
    """
    return a+b

In [37]:
# add_number?

In [39]:
#np.*load*?

## Langauge basic
- Python uses the indentations not braces
- Semicolon is not used to end the statement
- Everthing is an object. 
- '#' is used for comments which will be ignored by the interpreter.
- Variable and agrument passing. 
- Dynamic reference, strong type

In [41]:
#Python uses the indentations not braces

for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [44]:
#Semicolon is not used to end the statement
a = 5; b=4
print(a)
print(b)

5
4

In [49]:
#Variable and agrument passing.
a = [1,2,3]
print(a)
b = a
print(b)
a.append(4)
print('-----------')
print(a)
print(b)

[1, 2, 3]
[1, 2, 3]
-----------
[1, 2, 3, 4]
[1, 2, 3, 4]

In [50]:
# Dyanamic reference, strong type
a = 5
type(a)

int

In [52]:
a = "foo"
type(a)

str

In [54]:
"5" + 5

TypeError: can only concatenate str (not "int") to str

In [55]:
a = 4.5; b = 2
a/b

2.25

In [56]:
# to check object is type of instance 
isinstance(a, int)

False

In [57]:
isinstance(a, float)

True

In [58]:
# attributes and method 
s = "strin"
s.

SyntaxError: invalid syntax (2240935830.py, line 3)

In [61]:
# To check if object is iterable 
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError:
        return False

In [62]:
isiterable(" a string")

True

In [63]:
isiterable([2.4,5,3,3])

True

In [64]:
isiterable(4)

False

In [1]:
# Import 

import some_module as sm
sm.PI

3.14

In [2]:
sm.f(4)

8

In [3]:
sm.g(3,4)

7

In [4]:
sm.f(3)

6

In [5]:
# Arithmatic opertions
5-9

-4

In [7]:
# Mutabel and immutable objects 
a_list = ['foo', 2, [4,5]]
a_list

['foo', 2, [4, 5]]

In [8]:
a_list[2] = (4,3)

In [11]:
a_list

['foo', 2, (4, 3)]

In [12]:
s = "string"
s[3]= 3

TypeError: 'str' object does not support item assignment

In [13]:
a_tuple = (1,3,(4,3))
a_tuple

(1, 3, (4, 3))

In [15]:
a_tuple[2] = 3

TypeError: 'tuple' object does not support item assignment

In [17]:
# Numeric type 
ival = 544543
ival**8

7731387434039409808891316007008612834085369601

In [20]:
3/2

1.5

In [21]:
3//2

1

In [23]:
# String 
s = "sting"
s2 = 'sting 2'
print(s)
print(s2)

sting
sting 2

In [25]:
c = """
This is a multi line 
string 
"""

In [28]:
c.count("\n")

3

In [31]:
a = "sting a "
print(a)
b = a.replace("a", "longer")
print(b)
print(a)

sting a
sting longer
sting a

In [33]:
# to convert number to string
a = 5
print(a)
s = str(a)
print(s)
type(s)

5
5

str

In [34]:
s = 'string'
s[2]

'r'

In [35]:
list(s)

['s', 't', 'r', 'i', 'n', 'g']

In [38]:
# \ escape character
s = '12\\34'
print(s)

12\34

In [41]:
s = "this\has\no\special\character"
print(s)

this\has
o\special\character

In [42]:
s = r"this\has\no\special\character"
print(s)

this\has\no\special\character

In [46]:
# string format 
template = "{0:.2f} {1:s} are worth US${2:d}"
template.format(82, "INR" , 1)

'82.00 INR are worth US$1'

In [49]:
amount = 1200
currency = 'INR'

f"{amount}, {currency} is worth US${amount/82.2}"

'1200, INR is worth US$14.598540145985401'

In [50]:
# Boolean
True and True

True

In [51]:
False or True

True

In [52]:
int(False)

0

In [53]:
int(True)

1

In [54]:
# None
a = None
a is None

True

In [55]:
b = 5
b is None

False

In [60]:
def add_and_maybe_multiply(a, b, c= None):
    result =  a + b
    if c is not None:
        result*=c
    return result

In [61]:
add_and_maybe_multiply(2,3)

5

In [62]:
add_and_maybe_multiply(3,4,2)

14

In [65]:
# Date and Time

from datetime import datetime, date, time

dt = datetime(2013, 6,3, 10,15,12)
dt

datetime.datetime(2013, 6, 3, 10, 15, 12)

In [66]:
dt.day

3

In [67]:
dt.date()

datetime.date(2013, 6, 3)

In [68]:
dt.time()

datetime.time(10, 15, 12)

In [70]:
# Method to convert date in string

dt.strftime("%Y-%m-%d")

'2013-06-03'

In [73]:
# method to convert string into date
dt.strptime('20230603', "%Y%m%d")

datetime.datetime(2023, 6, 3, 0, 0)

In [74]:
dt

datetime.datetime(2013, 6, 3, 10, 15, 12)

In [75]:
dt2 = dt.strptime('20230603', "%Y%m%d")

In [77]:
delta = dt2-dt
delta

datetime.timedelta(days=3651, seconds=49488)

In [78]:
dt + delta

datetime.datetime(2023, 6, 3, 0, 0)

In [82]:
# Control Flow
# if elif, else

x = 9
if x <0:
    print("Negative")
elif x ==0:
    print("Zero")
elif 0<x<5:
    print("positive but less than 5 ")
else:
    print("Positive and larger than 5")

Positive and larger than 5

In [83]:
# for loop
# syntax for value in collection:
    #do something
    
seq = [1,2,None, 3, 6]

for value in seq:
    print(value)

1
2
None
3
6

In [84]:
# Continue
total = 0
for value in seq:
    if value is None:
        continue
    total +=value
print(total)

12

In [85]:
total = 0
for value in seq:
    total +=value
print(total)

TypeError: unsupported operand type(s) for +=: 'int' and 'NoneType'

In [86]:
#break 

for i in range(4):
    for j in range(4):
        print(i,j)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3
3 0
3 1
3 2
3 3

In [87]:
for i in range(4):
    for j in range(4):
        if j >i:
            break
        print(i,j)

0 0
1 0
1 1
2 0
2 1
2 2
3 0
3 1
3 2
3 3

In [91]:
# While loop = condition and block of code. 
x = 256
total = 0 
while x >0:
    print(x)
    if total > 500:
        break
    total +=x
    x//2
print(total)

256
256
256
512

In [92]:
# range = generate sequence of evenly spaced integer

range(10)

range(0, 10)

In [93]:
list(range(0,12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [95]:
list(range(0,20,4))

[0, 4, 8, 12, 16]

In [98]:
# add number 0 to 99999 with multiple of 3 & 5
total = 0
for i in range(100_000):
    if i%3==0 or i%5==0:
        total +=i
print(total)

2333316668