## Time Series

In [1]:
# load libraries 
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

In [2]:
now = datetime.now()
now

datetime.datetime(2023, 7, 2, 7, 54, 46, 144201)

In [3]:
now.year, now.month, now.day

(2023, 7, 2)

In [4]:
delta = datetime(2011,1,7)- datetime(2008,6,24,8,15)
delta

datetime.timedelta(days=926, seconds=56700)

In [5]:
delta.days

926

In [6]:
delta.seconds

56700

In [7]:
start = datetime(2023,1,7)

In [8]:
start + timedelta(12)

datetime.datetime(2023, 1, 19, 0, 0)

In [9]:
start - 2*timedelta(12)

datetime.datetime(2022, 12, 14, 0, 0)

### Converting between String and Datetime

In [10]:
stamp = datetime(2023, 1,3)

In [11]:
stamp

datetime.datetime(2023, 1, 3, 0, 0)

In [12]:
str(stamp)

'2023-01-03 00:00:00'

In [13]:
stamp.strftime("%Y-%m-%d")

'2023-01-03'

In [14]:
value = "2023-06-29"

In [15]:
datetime.strptime(value, "%Y-%m-%d") #new datetime parsed from a string

datetime.datetime(2023, 6, 29, 0, 0)

In [16]:
datestrs = ["7/6/2011", "8/6/2011"]

[datetime.strptime(value, "%m/%d/%Y") for value in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [17]:
datestrs = ["7/6/2011", "8/6/2011"]
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [19]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [20]:
idx[2]

NaT

### Time-Series Basic

In [21]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
 ....: datetime(2011, 1, 7), datetime(2011, 1, 8),
 ....: datetime(2011, 1, 10), datetime(2011, 1, 12)]
dates

[datetime.datetime(2011, 1, 2, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 7, 0, 0),
 datetime.datetime(2011, 1, 8, 0, 0),
 datetime.datetime(2011, 1, 10, 0, 0),
 datetime.datetime(2011, 1, 12, 0, 0)]

In [22]:
ts = pd.Series(np.random.standard_normal(6), index =dates)
ts

2011-01-02   -1.079832
2011-01-05    0.163682
2011-01-07    0.236147
2011-01-08   -0.035490
2011-01-10    1.584706
2011-01-12   -0.003617
dtype: float64

In [23]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [31]:
ts

2011-01-02   -1.079832
2011-01-05    0.163682
2011-01-07    0.236147
2011-01-08   -0.035490
2011-01-10    1.584706
2011-01-12   -0.003617
dtype: float64

In [25]:
ts[::2]

2011-01-02   -1.079832
2011-01-07    0.236147
2011-01-10    1.584706
dtype: float64

In [24]:
ts + ts[::2]

2011-01-02   -2.159663
2011-01-05         NaN
2011-01-07    0.472294
2011-01-08         NaN
2011-01-10    3.169412
2011-01-12         NaN
dtype: float64

In [29]:
ts.index.dtype #NumPy’s datetime64

dtype('<M8[ns]')

### Indexing, Selection, Subsettings

In [30]:
ts.index[2]

Timestamp('2011-01-07 00:00:00')

In [32]:
ts["2011-01-10"]

1.5847060506131936

In [33]:
longer_ts = pd.Series(np.random.standard_normal(1000), index = pd.date_range("2000-01-01", periods=1000))

In [34]:
longer_ts

2000-01-01   -0.063073
2000-01-02   -1.208431
2000-01-03   -0.457442
2000-01-04   -0.301485
2000-01-05   -0.450182
                ...
2002-09-22   -0.507925
2002-09-23    1.028743
2002-09-24   -0.525392
2002-09-25    1.402785
2002-09-26    1.570099
Freq: D, Length: 1000, dtype: float64

In [35]:
longer_ts["2001"]

2001-01-01   -1.170924
2001-01-02    1.963662
2001-01-03    0.826848
2001-01-04   -1.309060
2001-01-05   -0.220790
                ...
2001-12-27    0.803660
2001-12-28    0.989384
2001-12-29   -0.149144
2001-12-30    0.269730
2001-12-31   -0.669992
Freq: D, Length: 365, dtype: float64

In [36]:
longer_ts["2001-05"]

2001-05-01    0.458792
2001-05-02   -1.333027
2001-05-03   -0.927762
2001-05-04   -0.497049
2001-05-05    0.262862
2001-05-06   -0.132576
2001-05-07    0.393397
2001-05-08    0.928935
2001-05-09   -0.398436
2001-05-10    0.169179
2001-05-11   -0.895941
2001-05-12    2.152087
2001-05-13   -0.759348
2001-05-14   -1.505921
2001-05-15    0.176153
2001-05-16    1.106928
2001-05-17   -0.151701
2001-05-18   -1.071303
2001-05-19    1.117913
2001-05-20    1.242054
2001-05-21    1.547366
2001-05-22    0.122926
2001-05-23    0.555330
2001-05-24   -1.238329
2001-05-25   -0.179326
2001-05-26    0.426229
2001-05-27    0.291010
2001-05-28    1.025225
2001-05-29   -0.193615
2001-05-30    0.706258
2001-05-31   -0.234319
Freq: D, dtype: float64

In [37]:
ts[datetime(2011,1,7):]

2011-01-07    0.236147
2011-01-08   -0.035490
2011-01-10    1.584706
2011-01-12   -0.003617
dtype: float64

In [38]:
ts[datetime(2011,1,7):datetime(2011,1,10)]

2011-01-07    0.236147
2011-01-08   -0.035490
2011-01-10    1.584706
dtype: float64

### Time Series with duplicate Indices

In [39]:
dates = pd.DatetimeIndex(["2000-01-01", "2000-01-02", "2000-01-02","2000-01-02", "2000-01-03"])

In [40]:
dups_ts = pd.Series(np.arange(5), index=dates)
dups_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [41]:
dups_ts.index.is_unique

False

In [42]:
dups_ts['2000-01-02']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [43]:
dups_ts['2000-01-03']

4

In [44]:
grouped = dups_ts.groupby(level=0)
grouped

In [45]:
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [46]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## Date Range, Frequencies and Shifting

In [47]:
ts

2011-01-02   -1.079832
2011-01-05    0.163682
2011-01-07    0.236147
2011-01-08   -0.035490
2011-01-10    1.584706
2011-01-12   -0.003617
dtype: float64

In [48]:
# converting ts into frequency - resample() is used. 

ts.resample("D")

### Generating Date Range

In [49]:
index = pd.date_range("2012-04-01", "2012-06-01")
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [50]:
pd.date_range(start="2023-01-01", periods=20)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20'],
              dtype='datetime64[ns]', freq='D')

In [51]:
pd.date_range(end="2023-01-31", periods=20)

DatetimeIndex(['2023-01-12', '2023-01-13', '2023-01-14', '2023-01-15',
               '2023-01-16', '2023-01-17', '2023-01-18', '2023-01-19',
               '2023-01-20', '2023-01-21', '2023-01-22', '2023-01-23',
               '2023-01-24', '2023-01-25', '2023-01-26', '2023-01-27',
               '2023-01-28', '2023-01-29', '2023-01-30', '2023-01-31'],
              dtype='datetime64[ns]', freq='D')

In [53]:
pd.date_range("2000-01-01", "2000-12-01", freq="BM") # Business Month end

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [54]:
pd.date_range("2012-05-02 12:56:31", periods=5) # time is preserved

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [55]:
pd.date_range("2012-05-02 12:56:31", periods=5, normalize=True) #midnight timestamp

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### Frequencies and Date Offsets

In [56]:
from pandas.tseries.offsets import Hour, Minute

hour = Hour()

In [57]:
hour

In [58]:
four_hours = Hour(4)
four_hours

In [59]:
pd.date_range("2000-01-01", "2000-01-03 23:59", freq="4H")

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [60]:
Hour(2)+Minute(30)

In [62]:
pd.date_range("2023-01-01", periods=10, freq="1h30min") #90T is minutes

DatetimeIndex(['2023-01-01 00:00:00', '2023-01-01 01:30:00',
               '2023-01-01 03:00:00', '2023-01-01 04:30:00',
               '2023-01-01 06:00:00', '2023-01-01 07:30:00',
               '2023-01-01 09:00:00', '2023-01-01 10:30:00',
               '2023-01-01 12:00:00', '2023-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

### Week of month dates

In [63]:
monthly_dates = pd.date_range("2023-01-01", "2023-12-01", freq="WOM-3FRI")
monthly_dates

DatetimeIndex(['2023-01-20', '2023-02-17', '2023-03-17', '2023-04-21',
               '2023-05-19', '2023-06-16', '2023-07-21', '2023-08-18',
               '2023-09-15', '2023-10-20', '2023-11-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [64]:
list(monthly_dates)

[Timestamp('2023-01-20 00:00:00'),
 Timestamp('2023-02-17 00:00:00'),
 Timestamp('2023-03-17 00:00:00'),
 Timestamp('2023-04-21 00:00:00'),
 Timestamp('2023-05-19 00:00:00'),
 Timestamp('2023-06-16 00:00:00'),
 Timestamp('2023-07-21 00:00:00'),
 Timestamp('2023-08-18 00:00:00'),
 Timestamp('2023-09-15 00:00:00'),
 Timestamp('2023-10-20 00:00:00'),
 Timestamp('2023-11-17 00:00:00')]

### Shifting - Leading and lagging dates

In [65]:
ts = pd.Series(np.random.standard_normal(4), index= pd.date_range("2023-01-01", periods=4, freq="M"))
ts

2023-01-31   -0.207204
2023-02-28    1.473980
2023-03-31   -0.499965
2023-04-30    1.044669
Freq: M, dtype: float64

In [66]:
ts.shift(2) # No change in index

2023-01-31         NaN
2023-02-28         NaN
2023-03-31   -0.207204
2023-04-30    1.473980
Freq: M, dtype: float64

In [67]:
ts.shift(-2)

2023-01-31   -0.499965
2023-02-28    1.044669
2023-03-31         NaN
2023-04-30         NaN
Freq: M, dtype: float64

In [68]:
ts.shift(2, freq="M")

2023-03-31   -0.207204
2023-04-30    1.473980
2023-05-31   -0.499965
2023-06-30    1.044669
Freq: M, dtype: float64

In [69]:
ts.shift(3, freq="D")

2023-02-03   -0.207204
2023-03-03    1.473980
2023-04-03   -0.499965
2023-05-03    1.044669
dtype: float64

In [70]:
ts.shift(1, freq="90T")

2023-01-31 01:30:00   -0.207204
2023-02-28 01:30:00    1.473980
2023-03-31 01:30:00   -0.499965
2023-04-30 01:30:00    1.044669
dtype: float64

### Shifting dates with offset

In [71]:
from pandas.tseries.offsets import Day, MonthEnd

In [73]:
now = datetime(2023, 7, 2)
now

datetime.datetime(2023, 7, 2, 0, 0)

In [74]:
now + 3 *Day()

Timestamp('2023-07-05 00:00:00')

In [75]:
now + MonthEnd()

Timestamp('2023-07-31 00:00:00')

In [76]:
now + MonthEnd(2)

Timestamp('2023-08-31 00:00:00')

In [77]:
offset = MonthEnd()
offset

In [78]:
offset.rollforward(now)

Timestamp('2023-07-31 00:00:00')

In [79]:
offset.rollback(now)

Timestamp('2023-06-30 00:00:00')

In [80]:
ts = pd.Series(np.random.standard_normal(20), 
              index = pd.date_range("2023-01-01", periods=20, freq = "4D"))
ts

2023-01-01   -0.312224
2023-01-05    0.231885
2023-01-09   -0.814961
2023-01-13    2.357951
2023-01-17   -0.646473
2023-01-21    0.474593
2023-01-25   -0.697861
2023-01-29   -0.013585
2023-02-02    0.755427
2023-02-06   -0.959463
2023-02-10   -0.193790
2023-02-14   -1.215937
2023-02-18    0.361025
2023-02-22   -0.109791
2023-02-26    0.851196
2023-03-02    0.239325
2023-03-06    0.159697
2023-03-10   -1.199113
2023-03-14    0.187785
2023-03-18   -1.015747
Freq: 4D, dtype: float64

In [81]:
ts.groupby(MonthEnd().rollforward).mean()

2023-01-31    0.072416
2023-02-28   -0.073047
2023-03-31   -0.325611
dtype: float64

In [82]:
ts.resample("M").mean()

2023-01-31    0.072416
2023-02-28   -0.073047
2023-03-31   -0.325611
Freq: M, dtype: float64

### Timezone

In [83]:
import pytz

In [84]:
pytz.common_timezones

['Africa/Abidjan', 'Africa/Accra', 'Africa/Addis_Ababa', 'Africa/Algiers', 'Africa/Asmara', 'Africa/Bamako', 'Africa/Bangui', 'Africa/Banjul', 'Africa/Bissau', 'Africa/Blantyre', 'Africa/Brazzaville', 'Africa/Bujumbura', 'Africa/Cairo', 'Africa/Casablanca', 'Africa/Ceuta', 'Africa/Conakry', 'Africa/Dakar', 'Africa/Dar_es_Salaam', 'Africa/Djibouti', 'Africa/Douala', 'Africa/El_Aaiun', 'Africa/Freetown', 'Africa/Gaborone', 'Africa/Harare', 'Africa/Johannesburg', 'Africa/Juba', 'Africa/Kampala', 'Africa/Khartoum', 'Africa/Kigali', 'Africa/Kinshasa', 'Africa/Lagos', 'Africa/Libreville', 'Africa/Lome', 'Africa/Luanda', 'Africa/Lubumbashi', 'Africa/Lusaka', 'Africa/Malabo', 'Africa/Maputo', 'Africa/Maseru', 'Africa/Mbabane', 'Africa/Mogadishu', 'Africa/Monrovia', 'Africa/Nairobi', 'Africa/Ndjamena', 'Africa/Niamey', 'Africa/Nouakchott', 'Africa/Ouagadougou', 'Africa/Porto-Novo', 'Africa/Sao_Tome', 'Africa/Tripoli', 'Africa/Tunis', 'Africa/Windhoek', 'America/Adak', 'America/Anchorage', 'America/Anguilla', 'America/Antigua', 'America/Araguaina', 'America/Argentina/Buenos_Aires', 'America/Argentina/Catamarca', 'America/Argentina/Cordoba', 'America/Argentina/Jujuy', 'America/Argentina/La_Rioja', 'America/Argentina/Mendoza', 'America/Argentina/Rio_Gallegos', 'America/Argentina/Salta', 'America/Argentina/San_Juan', 'America/Argentina/San_Luis', 'America/Argentina/Tucuman', 'America/Argentina/Ushuaia', 'America/Aruba', 'America/Asuncion', 'America/Atikokan', 'America/Bahia', 'America/Bahia_Banderas', 'America/Barbados', 'America/Belem', 'America/Belize', 'America/Blanc-Sablon', 'America/Boa_Vista', 'America/Bogota', 'America/Boise', 'America/Cambridge_Bay', 'America/Campo_Grande', 'America/Cancun', 'America/Caracas', 'America/Cayenne', 'America/Cayman', 'America/Chicago', 'America/Chihuahua', 'America/Ciudad_Juarez', 'America/Costa_Rica', 'America/Creston', 'America/Cuiaba', 'America/Curacao', 'America/Danmarkshavn', 'America/Dawson', 'America/Dawson_Creek', 'America/Denver', 'America/Detroit', 'America/Dominica', 'America/Edmonton', 'America/Eirunepe', 'America/El_Salvador', 'America/Fort_Nelson', 'America/Fortaleza', 'America/Glace_Bay', 'America/Goose_Bay', 'America/Grand_Turk', 'America/Grenada', 'America/Guadeloupe', 'America/Guatemala', 'America/Guayaquil', 'America/Guyana', 'America/Halifax', 'America/Havana', 'America/Hermosillo', 'America/Indiana/Indianapolis', 'America/Indiana/Knox', 'America/Indiana/Marengo', 'America/Indiana/Petersburg', 'America/Indiana/Tell_City', 'America/Indiana/Vevay', 'America/Indiana/Vincennes', 'America/Indiana/Winamac', 'America/Inuvik', 'America/Iqaluit', 'America/Jamaica', 'America/Juneau', 'America/Kentucky/Louisville', 'America/Kentucky/Monticello', 'America/Kralendijk', 'America/La_Paz', 'America/Lima', 'America/Los_Angeles', 'America/Lower_Princes', 'America/Maceio', 'America/Managua', 'America/Manaus', 'America/Marigot', 'America/Martinique', 'America/Matamoros', 'America/Mazatlan', 'America/Menominee', 'America/Merida', 'America/Metlakatla', 'America/Mexico_City', 'America/Miquelon', 'America/Moncton', 'America/Monterrey', 'America/Montevideo', 'America/Montserrat', 'America/Nassau', 'America/New_York', 'America/Nome', 'America/Noronha', 'America/North_Dakota/Beulah', 'America/North_Dakota/Center', 'America/North_Dakota/New_Salem', 'America/Nuuk', 'America/Ojinaga', 'America/Panama', 'America/Paramaribo', 'America/Phoenix', 'America/Port-au-Prince', 'America/Port_of_Spain', 'America/Porto_Velho', 'America/Puerto_Rico', 'America/Punta_Arenas', 'America/Rankin_Inlet', 'America/Recife', 'America/Regina', 'America/Resolute', 'America/Rio_Branco', 'America/Santarem', 'America/Santiago', 'America/Santo_Domingo', 'America/Sao_Paulo', 'America/Scoresbysund', 'America/Sitka', 'America/St_Barthelemy', 'America/St_Johns', 'America/St_Kitts', 'America/St_Lucia', 'America/St_Thomas', 'America/St_Vincent', 'America/Swift_Current', 'America/Tegucigalpa', 'America/Thule', 'America/Tijuana', 'America/Toronto', 'America/Tortola', 'America/Vancouver', 'America/Whitehorse', 'America/Winnipeg', 'America/Yakutat', 'America/Yellowknife', 'Antarctica/Casey', 'Antarctica/Davis', 'Antarctica/DumontDUrville', 'Antarctica/Macquarie', 'Antarctica/Mawson', 'Antarctica/McMurdo', 'Antarctica/Palmer', 'Antarctica/Rothera', 'Antarctica/Syowa', 'Antarctica/Troll', 'Antarctica/Vostok', 'Arctic/Longyearbyen', 'Asia/Aden', 'Asia/Almaty', 'Asia/Amman', 'Asia/Anadyr', 'Asia/Aqtau', 'Asia/Aqtobe', 'Asia/Ashgabat', 'Asia/Atyrau', 'Asia/Baghdad', 'Asia/Bahrain', 'Asia/Baku', 'Asia/Bangkok', 'Asia/Barnaul', 'Asia/Beirut', 'Asia/Bishkek', 'Asia/Brunei', 'Asia/Chita', 'Asia/Choibalsan', 'Asia/Colombo', 'Asia/Damascus', 'Asia/Dhaka', 'Asia/Dili', 'Asia/Dubai', 'Asia/Dushanbe', 'Asia/Famagusta', 'Asia/Gaza', 'Asia/Hebron', 'Asia/Ho_Chi_Minh', 'Asia/Hong_Kong', 'Asia/Hovd', 'Asia/Irkutsk', 'Asia/Jakarta', 'Asia/Jayapura', 'Asia/Jerusalem', 'Asia/Kabul', 'Asia/Kamchatka', 'Asia/Karachi', 'Asia/Kathmandu', 'Asia/Khandyga', 'Asia/Kolkata', 'Asia/Krasnoyarsk', 'Asia/Kuala_Lumpur', 'Asia/Kuching', 'Asia/Kuwait', 'Asia/Macau', 'Asia/Magadan', 'Asia/Makassar', 'Asia/Manila', 'Asia/Muscat', 'Asia/Nicosia', 'Asia/Novokuznetsk', 'Asia/Novosibirsk', 'Asia/Omsk', 'Asia/Oral', 'Asia/Phnom_Penh', 'Asia/Pontianak', 'Asia/Pyongyang', 'Asia/Qatar', 'Asia/Qostanay', 'Asia/Qyzylorda', 'Asia/Riyadh', 'Asia/Sakhalin', 'Asia/Samarkand', 'Asia/Seoul', 'Asia/Shanghai', 'Asia/Singapore', 'Asia/Srednekolymsk', 'Asia/Taipei', 'Asia/Tashkent', 'Asia/Tbilisi', 'Asia/Tehran', 'Asia/Thimphu', 'Asia/Tokyo', 'Asia/Tomsk', 'Asia/Ulaanbaatar', 'Asia/Urumqi', 'Asia/Ust-Nera', 'Asia/Vientiane', 'Asia/Vladivostok', 'Asia/Yakutsk', 'Asia/Yangon', 'Asia/Yekaterinburg', 'Asia/Yerevan', 'Atlantic/Azores', 'Atlantic/Bermuda', 'Atlantic/Canary', 'Atlantic/Cape_Verde', 'Atlantic/Faroe', 'Atlantic/Madeira', 'Atlantic/Reykjavik', 'Atlantic/South_Georgia', 'Atlantic/St_Helena', 'Atlantic/Stanley', 'Australia/Adelaide', 'Australia/Brisbane', 'Australia/Broken_Hill', 'Australia/Darwin', 'Australia/Eucla', 'Australia/Hobart', 'Australia/Lindeman', 'Australia/Lord_Howe', 'Australia/Melbourne', 'Australia/Perth', 'Australia/Sydney', 'Canada/Atlantic', 'Canada/Central', 'Canada/Eastern', 'Canada/Mountain', 'Canada/Newfoundland', 'Canada/Pacific', 'Europe/Amsterdam', 'Europe/Andorra', 'Europe/Astrakhan', 'Europe/Athens', 'Europe/Belgrade', 'Europe/Berlin', 'Europe/Bratislava', 'Europe/Brussels', 'Europe/Bucharest', 'Europe/Budapest', 'Europe/Busingen', 'Europe/Chisinau', 'Europe/Copenhagen', 'Europe/Dublin', 'Europe/Gibraltar', 'Europe/Guernsey', 'Europe/Helsinki', 'Europe/Isle_of_Man', 'Europe/Istanbul', 'Europe/Jersey', 'Europe/Kaliningrad', 'Europe/Kirov', 'Europe/Kyiv', 'Europe/Lisbon', 'Europe/Ljubljana', 'Europe/London', 'Europe/Luxembourg', 'Europe/Madrid', 'Europe/Malta', 'Europe/Mariehamn', 'Europe/Minsk', 'Europe/Monaco', 'Europe/Moscow', 'Europe/Oslo', 'Europe/Paris', 'Europe/Podgorica', 'Europe/Prague', 'Europe/Riga', 'Europe/Rome', 'Europe/Samara', 'Europe/San_Marino', 'Europe/Sarajevo', 'Europe/Saratov', 'Europe/Simferopol', 'Europe/Skopje', 'Europe/Sofia', 'Europe/Stockholm', 'Europe/Tallinn', 'Europe/Tirane', 'Europe/Ulyanovsk', 'Europe/Vaduz', 'Europe/Vatican', 'Europe/Vienna', 'Europe/Vilnius', 'Europe/Volgograd', 'Europe/Warsaw', 'Europe/Zagreb', 'Europe/Zurich', 'GMT', 'Indian/Antananarivo', 'Indian/Chagos', 'Indian/Christmas', 'Indian/Cocos', 'Indian/Comoro', 'Indian/Kerguelen', 'Indian/Mahe', 'Indian/Maldives', 'Indian/Mauritius', 'Indian/Mayotte', 'Indian/Reunion', 'Pacific/Apia', 'Pacific/Auckland', 'Pacific/Bougainville', 'Pacific/Chatham', 'Pacific/Chuuk', 'Pacific/Easter', 'Pacific/Efate', 'Pacific/Fakaofo', 'Pacific/Fiji', 'Pacific/Funafuti', 'Pacific/Galapagos', 'Pacific/Gambier', 'Pacific/Guadalcanal', 'Pacific/Guam', 'Pacific/Honolulu', 'Pacific/Kanton', 'Pacific/Kiritimati', 'Pacific/Kosrae', 'Pacific/Kwajalein', 'Pacific/Majuro', 'Pacific/Marquesas', 'Pacific/Midway', 'Pacific/Nauru', 'Pacific/Niue', 'Pacific/Norfolk', 'Pacific/Noumea', 'Pacific/Pago_Pago', 'Pacific/Palau', 'Pacific/Pitcairn', 'Pacific/Pohnpei', 'Pacific/Port_Moresby', 'Pacific/Rarotonga', 'Pacific/Saipan', 'Pacific/Tahiti', 'Pacific/Tarawa', 'Pacific/Tongatapu', 'Pacific/Wake', 'Pacific/Wallis', 'US/Alaska', 'US/Arizona', 'US/Central', 'US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [85]:
tz = pytz.timezone("America/New_York")
tz

### Timezone localization and Conversion

In [86]:
dates = pd.date_range("2023-06-30 09:30", periods=6)
dates

DatetimeIndex(['2023-06-30 09:30:00', '2023-07-01 09:30:00',
               '2023-07-02 09:30:00', '2023-07-03 09:30:00',
               '2023-07-04 09:30:00', '2023-07-05 09:30:00'],
              dtype='datetime64[ns]', freq='D')

In [87]:
ts = pd.Series(np.random.standard_normal(len(dates)), index = dates)
ts

2023-06-30 09:30:00    0.025225
2023-07-01 09:30:00   -0.113650
2023-07-02 09:30:00    0.569566
2023-07-03 09:30:00    1.552921
2023-07-04 09:30:00   -0.313763
2023-07-05 09:30:00   -0.374127
Freq: D, dtype: float64

In [88]:
print(ts.index.tz)

None

In [89]:
pd.date_range("2023-06-30 09:30", periods=10, tz="UTC")#Coordinated Universal Time

DatetimeIndex(['2023-06-30 09:30:00+00:00', '2023-07-01 09:30:00+00:00',
               '2023-07-02 09:30:00+00:00', '2023-07-03 09:30:00+00:00',
               '2023-07-04 09:30:00+00:00', '2023-07-05 09:30:00+00:00',
               '2023-07-06 09:30:00+00:00', '2023-07-07 09:30:00+00:00',
               '2023-07-08 09:30:00+00:00', '2023-07-09 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [90]:
ts_utc = ts.tz_localize("UTC")
ts_utc

2023-06-30 09:30:00+00:00    0.025225
2023-07-01 09:30:00+00:00   -0.113650
2023-07-02 09:30:00+00:00    0.569566
2023-07-03 09:30:00+00:00    1.552921
2023-07-04 09:30:00+00:00   -0.313763
2023-07-05 09:30:00+00:00   -0.374127
Freq: D, dtype: float64

In [91]:
ts_utc.tz_convert("America/New_york")

2023-06-30 05:30:00-04:00    0.025225
2023-07-01 05:30:00-04:00   -0.113650
2023-07-02 05:30:00-04:00    0.569566
2023-07-03 05:30:00-04:00    1.552921
2023-07-04 05:30:00-04:00   -0.313763
2023-07-05 05:30:00-04:00   -0.374127
Freq: D, dtype: float64