## Time Series

In [11]:
# load libraries 
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

In [13]:
now = datetime.now()
now

datetime.datetime(2023, 6, 29, 1, 24, 40, 803956)

In [14]:
now.year, now.month, now.day

(2023, 6, 29)

In [15]:
delta = datetime(2011,1,7)- datetime(2008,6,24,8,15)
delta

datetime.timedelta(days=926, seconds=56700)

In [16]:
delta.days

926

In [17]:
delta.seconds

56700

In [20]:
start = datetime(2023,1,7)

In [21]:
start + timedelta(12)

datetime.datetime(2023, 1, 19, 0, 0)

In [22]:
start - 2*timedelta(12)

datetime.datetime(2022, 12, 14, 0, 0)

### Converting between String and Datetime

In [23]:
stamp = datetime(2023, 1,3)

In [24]:
stamp

datetime.datetime(2023, 1, 3, 0, 0)

In [25]:
str(stamp)

'2023-01-03 00:00:00'

In [28]:
stamp.strftime("%Y-%m-%d")

'2023-01-03'

In [29]:
value = "2023-06-29"

In [32]:
datetime.strptime(value, "%Y-%m-%d") #new datetime parsed from a string

datetime.datetime(2023, 6, 29, 0, 0)

In [40]:
datestrs = ["7/6/2011", "8/6/2011"]

[datetime.strptime(value, "%m/%d/%Y") for value in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [41]:
datestrs = ["7/6/2011", "8/6/2011"]
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [44]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [45]:
idx[2]

NaT

### Time-Series Basic

In [46]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
 ....: datetime(2011, 1, 7), datetime(2011, 1, 8),
 ....: datetime(2011, 1, 10), datetime(2011, 1, 12)]
dates

[datetime.datetime(2011, 1, 2, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 7, 0, 0),
 datetime.datetime(2011, 1, 8, 0, 0),
 datetime.datetime(2011, 1, 10, 0, 0),
 datetime.datetime(2011, 1, 12, 0, 0)]

In [49]:
ts = pd.Series(np.random.standard_normal(6), index =dates)
ts

2011-01-02   -1.357745
2011-01-05    0.142723
2011-01-07    2.267965
2011-01-08    0.311778
2011-01-10   -0.997857
2011-01-12   -0.050407
dtype: float64

In [50]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [51]:
ts + ts[::2]

2011-01-02   -2.715489
2011-01-05         NaN
2011-01-07    4.535930
2011-01-08         NaN
2011-01-10   -1.995714
2011-01-12         NaN
dtype: float64

In [58]:
ts.index.dtype #NumPyâ€™s datetime64

dtype('<M8[ns]')

### Indexing, Selection, Subsettings

In [59]:
ts.index[2]

Timestamp('2011-01-07 00:00:00')

In [60]:
ts["2011-01-10"]

-0.9978570673504686

In [61]:
longer_ts = pd.Series(np.random.standard_normal(1000), index = pd.date_range("2000-01-01", periods=1000))

In [62]:
longer_ts

2000-01-01   -0.112731
2000-01-02   -0.653682
2000-01-03   -0.058202
2000-01-04   -0.021748
2000-01-05    0.372835
                ...
2002-09-22    1.046399
2002-09-23   -0.362620
2002-09-24   -0.841764
2002-09-25    0.125870
2002-09-26    0.025683
Freq: D, Length: 1000, dtype: float64

In [63]:
longer_ts["2001"]

2001-01-01   -1.634389
2001-01-02    1.275003
2001-01-03    1.029380
2001-01-04    1.288350
2001-01-05   -0.664837
                ...
2001-12-27    0.205826
2001-12-28    2.220939
2001-12-29   -0.519472
2001-12-30    1.059385
2001-12-31    2.458111
Freq: D, Length: 365, dtype: float64

In [64]:
longer_ts["2001-05"]

2001-05-01    0.685375
2001-05-02   -0.645267
2001-05-03    1.397397
2001-05-04    1.883294
2001-05-05   -1.046883
2001-05-06   -0.701430
2001-05-07    0.118150
2001-05-08    0.345700
2001-05-09    0.140874
2001-05-10    0.103442
2001-05-11   -0.300821
2001-05-12   -0.242030
2001-05-13   -0.691137
2001-05-14   -1.706737
2001-05-15    0.906028
2001-05-16   -0.166271
2001-05-17    1.994723
2001-05-18    1.130679
2001-05-19   -1.482618
2001-05-20   -1.053844
2001-05-21   -1.044279
2001-05-22    1.283421
2001-05-23   -0.569837
2001-05-24    1.265452
2001-05-25    0.103334
2001-05-26   -0.546556
2001-05-27   -0.586430
2001-05-28   -0.992749
2001-05-29   -0.119333
2001-05-30   -0.285248
2001-05-31   -0.293836
Freq: D, dtype: float64

In [65]:
ts[datetime(2011,1,7):]

2011-01-07    2.267965
2011-01-08    0.311778
2011-01-10   -0.997857
2011-01-12   -0.050407
dtype: float64

In [66]:
ts[datetime(2011,1,7):datetime(2011,1,10)]

2011-01-07    2.267965
2011-01-08    0.311778
2011-01-10   -0.997857
dtype: float64